@import '../../assets/variables.scss';

.favourites-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: $green-light;

  h1 {
    color: $green;
  }

  .favourites-content {
    padding-right: 20px;
    height: 150px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: $breakpoint-phone) {
    h1 {
      font-size: 26px;
    }
  }
}
