@import '../../assets/variables.scss';

.search-bar-wrapper {
  width: 100%;
  display: flex;

  .search-bar {
    margin-right: 15px;
    border: 1px solid $grey;
    border-radius: 2px;
    flex: 1;
    padding: 10px;
    font-size: 1.2em;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  .search-button {
    padding: 10px 12px;
    background: $green;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;

    &:hover {
      background: $green-dark;
    }

    &:focus {
      outline: none;
    }
  }
}
