@import '../../assets/variables.scss';

.banner-wrapper {
  background-color: $green;
  background-image: linear-gradient(120deg, $blue, $green);
  padding: 10px;
  text-align: center;

  .banner-headline {
    color: white;
    font-size: 40px;
    font-weight: 700;
  }

  @media (max-width: $breakpoint-phone) {
    padding: 5px;

    .banner-headline {
      font-size: 26px;
    }
  }
}
